body {
    margin: 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #ddd;
}

ul {
    display: flex;
    justify-content: space-evenly;
    margin-right: 1em;
    list-style-type: none;
    color: black;
}

li {
    justify-content: space-evenly;
    margin: 1em;
    list-style-type: none;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    margin: 1em;
    text-align: center;
}
section{
    margin:auto;
    width: 60%;
}
.background{
    background-color: #ddd;
    width: 30em;
    height: 22em;
    align-items:center;
    margin:auto;
}